<!-- NOTE:
Categories
repeat over recipes and display
add to order (Increment and decriment on each recipe)
confirm and totals
-->
<headerdir></headerdir>
<h1 class="order-title">Orders</h1>

<section class="order-main-wrap">

 <!-- ORDER SUMMARY SECTION -------------------------------------------->
   <section class='order-wrap'>

       <div class="order-summary-wrap">
           <div class="order-summary">
               Summary
           </div>
           <div class="order-items" ng-repeat="recipe in order.recipes">
               <div id="order-subtotal-item"><p id="recipe-order-lbl">{{recipe.name}}</p> <p>qty = {{recipe.quantity}}</p> <p>subtotal = {{recipe.price | currency}}</p></div>
           </div>
           <div class="total-wrap">
             <div class="total">TOTAL</div>
             <div class="order-total">
                 {{order.total | currency}}
             </div>
           </div>

           <div class="button-wrap">
             <button class="order-create" ng-click="createOrder()">
                 Create Order
             </button>
           </div>

       </div>

   </section>

 <!-- RECIPE SECTION FOR INDIV RECIPE BOXES WITH INCREMENTS -------------------------------------------->

   <section class="order-recipe-wrap">
       <div class="order-recipe-box" ng-repeat="recipe in allRecipes" ng-style="{'background-image':'url({{recipe.image}})', 'background-size': 'cover', 'background-repeat': 'no-repeat', 'background-position': 'center'}">

           <div class="order-recipe-name">
               {{recipe.name}}
           </div>
           <div class="order-btn-wrap">
             <button class="recipe-minus" ng-click="decrementOrder(recipe)">
                 -
             </button>
             <button class="recipe-plus" ng-click="incrementOrder(recipe)">
                 +
             </button>
           </div>




       </div>
   </section>



</section>
