/*@import url(https://fonts.googleapis.com/css?family=Julius+Sans+One);*/
@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:400,700);
@import url(https://fonts.googleapis.com/css?family=Ubuntu:400,700);
body {
  width: 100%;
  height: 100%;
}


/*----------------MENU/NAVBAR---------------*/
#main-navbar{
  width: 100%;
  height: 0vh;
  background-color: hsla(360, 0%, 100%, 0.8);
  position: fixed;
  z-index: 1000;
  top: 0px;
  left: 0px;
  color: #0C0C0C;
  font-family: "Roboto Slab";
  transition: height 0.3s ease 0s;
}
#main-navbar-logo{
  height: 100%;
  width: 12vw;
  float: left;
}

#main-navbar-logo-img{
  background-color: #34B3A0;
  cursor: pointer;
  transition: all .3s ease 0s, margin-left .3s ease 0s, margin-top .3s ease 0s;
}
#main-navbar-logo-img:hover{
  background-color: #46C9B6;
}
.main-navbar-menu{
  width: 8vw;
  overflow: hidden;
  height: 100%;
  float: right;
  display: flex;
<<<<<<< HEAD
  justify-content: center;
  align-items:center;
  font-size: .85vw;
  /*color: white;*/
  font-weight: 500;
  cursor: pointer;
  transition: all .3s ease 0s;
=======
  justify-content: space-around;
  align-items:flex-end;
  font-size: 15px;
  /*color: white;*/
  font-weight: 500;
  cursor: pointer;
  margin-right: 100px;
>>>>>>> fbb04866adfbbe90d3786145543f163a0e57e900
}
.main-navbar-menu:hover{
  background-color: #34B3A0;
  color: white;
  font-weight: bold;
}
.fake-content{
  width: 100%;
  height: 100vh;
  background-color: lightblue;
}
/*---------------------HAMBURGER------------------------*/
#dropdown{
  width: 40px;
  height: 40px;
}

.hamburger-icon{
  background-image: url("../images/hamburger.png");
  background-size: contain;
  width: 40px;
  height: 40px;
}
#dropdown {
    position: relative;
    display: inline-block;
    -webkit-transition: all .40s;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 125px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.4);
    -webkit-transition: all .40s;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    -webkit-transition: all .40s;
    margin-top: 2px;
}

.dropdown-content a:hover  {
  background-color: lightblue;
  -webkit-transition: all .40s;
  color: white;
  font-size: 18px;
  padding-top: 20px;
  padding-bottom: 20px;
}

#dropdown:hover .dropdown-content {
    display: block;
    -webkit-transition: all .40s;
    font-size: 18px;

}

#dropdown:hover .dropbtn {
    color: lightblue;
    font-size: 18px;
    -webkit-transition: all .40s;
}

/*---------------------FOOTER------------------------*/
.bottom-of-footer{
  width: 100%;
  height:100%;
  background-color: #282F35;
}

.footer-contact-form{
  width: 66%;
  height: 35vh;
  z-index: 100;
  position: relative;
  margin-left: 17%;
  /*border:1px solid white;*/
}
.footer-contact-info{
  width: 100%;
  height: 55%;
  border-top:1px solid white;
  border-bottom:1px solid white;
}
.footer-contact-form-head{
  width: 100%;
  height:25%;
  font-size: 4.5vh;
  color: white;
  text-align: left
  display: flex;
  font-family: "Ubuntu";
}
.footer-contact-form-head span{
  font-size: 1vw;
  font-weight: normal;
}
.footer-contact-image-left{
  height: 80%;
  width: 30%;
  background-image: url('http://acegrease.com/busy%20kitchen.jpg');
  float: left;
  background-position:center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 15px 0 0 15px;
}
.footer-contact-form-inputs{
  height: 80%;
  width: 70%;
  float: right;
}

.contact-input-fields input{
  background-color: #1F242A;
  color: white;
  border: none;
  font-family: "Ubuntu";

}
.contact-input-fields input:focus{
  outline: none;
  border-top: 1px solid white;
}
.contact-input-fields{
  width: 85%;
  height: 80%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.contact-field-message{
  width: 33vw;
  height: 100px;
  margin-left: 2.5vw;
  margin-bottom: 50px;
  background-color: #1F242A;
  color: white;
  border: none;
  outline: none;
  resize: none;
}
.contact-field-message:focus{
  outline: none;
  border-top: 1px solid white;
}
.contact-field{
  width: 15vw;
  height: 40px;
  margin-left: 2.5vw;
  margin-bottom: 50px;
  padding-left: 5px;
}

.contact-field-send-message{
  margin-left: 30vw;
  width: 5vw;
  height: 30px;
  background-color: #101519;
}
.footer-socialmedia{
  width: 30%;
  height: 20%;
  position: absolute;
  bottom: 0;
  margin-left:35%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.footer-socialmedia img{
  height: 50px;
  width: 50px;
  border: 4px solid #34B3A0;
  background-color: #34B3A0;
  border-radius: 5px;
}
.footer-socialmedia img:hover{
  cursor: pointer;
}
