.order-title{
 background: #E7E7E7;
 width: 75%;
 font-family: 'Raleway', sans-serif;
 font-size: 100px;
 color: #A94C24;
 margin-top:150px;
 margin-left: 25%;
 padding-left: 1%;
}
.order-main-wrap{
 height: 100%;
 width: 100%;
 display: flex;
 flex-wrap: wrap;
 font-family: "Ubuntu";
 flex-direction: row;
}

/************************   RECIPE STYLING     ****************************************************************/

.order-recipe-wrap{
 width: 75%;
 height: auto;
 display: flex;
 flex-wrap: wrap;
}
.order-recipe-box{
 border-radius: 10px;
 text-align: center;
 color: white;
 background: #525157;
 font-size: 18px;
 margin: 25px 15px 25px 15px;
 padding: 10px;
 height: 220px;
 width: 300px;
 -webkit-transition: all .40s;
 border: 2px solid white;
}
.order-recipe-box:hover{
 border: 2px solid #525157;
 -webkit-transition: all .40s;
}
.order-recipe-name{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  color: #525157;
  font-size: 25px;
  background-color: hsla(500, 0%, 100%, 0.9);
}
.recipe-plus{
  border: none;
  background-color: hsla(500, 0%, 100%, 0.6);
  font-size: 40px;
 margin-top: 5px;
 color: green;
 height: 50px;
 width: 50px;
 -webkit-transition: all .40s;
}
.recipe-plus:hover{
  background: white;
  -webkit-transition: all .40s;
}
.recipe-plus:focus{
  outline: none;
}
.recipe-minus{
  border: none;
  background-color: hsla(500, 0%, 100%, 0.6);
  font-size: 40px;
 margin-top: 5px;
 color: red;
 height: 50px;
 width: 50px;
 -webkit-transition: all .40s;
}
.recipe-minus:hover{
  background: white;
  -webkit-transition: all .40s;
}
.recipe-minus:focus{
  outline: none;
}
.order-btn-wrap{
  width: 100%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 5px;
}

/************************   ORDER STYLING     ****************************************************************/

.order-wrap{
 padding: 10px;
 font-size: 18px;
 height: auto;
 width: 25%;
 background: #E7E7E7;
}
.button-wrap{
 width: 100%;
 display: flex;
 justify-content: center;
}
.order-create{
  color: white;
 margin-top: 20px;
 width: 150px;
 height: 50px;
 background: #B86D4C;
 border: 1px solid white;
 -webkit-transition: all .40s;
}
.order-create:hover{
  border: 1px solid #A94C24;
  background: white;
  color: #A94C24;
  -webkit-transition: all .40s;
  border-radius: 10px;
}
.order-summary-wrap{
 height: auto;
 width: auto;
}
.order-summary{
  color: #A94C24;
 font-size: 40px;
 height: auto;
 width: auto;
 text-align: center;
 margin-bottom: 10px;
}
.total-wrap{
 padding-top: 20px;
 display: flex;
 justify-content: space-between;

}
.order-total{
 float: right;
 font-size: 20px;
 border: 1px solid black;
 height: auto;
 width: 100px;
}
.order-items{
  margin: 10px;
  border: 2px solid lightgray;
  display: flex;
 font-size: 20px;
 height: auto;
 width: auto;
 margin-bottom: 10px;
}
#recipe-order-lbl{
  color: #A94C24;
}
