<nav id="main-navbar">
  <div ui-sref="home" id="main-navbar-logo">
    <!-- ==================PLAYING WITH LOGOS=================== -->


    <img id="main-navbar-logo-img" src="./images/hermes.png" alt="hermeslogo" />

  </div>
  <div class="main-navbar-menu-icon" id="dropdown">
              <img src="./images/hamburger.png" alt="" />
              <div class="dropdown-container">
              <div class="dropdown-content">


                  <a ng-show='loggedIn' ui-sref="profile">Profile</a>
                  <a ng-show='!loggedIn' ui-sref="login">Login</a>
                  <a ng-show='!loggedIn' ui-sref="login">Sign-Up</a>
                  <a ng-show='loggedIn' ng-click="logout()">Logout</a>
                  <a>History</a>


              </div>
            </div>




        </div>
  <div ng-if='loggedIn === true && alertLength > 0' class="main-navbar-menu"><a id="alertText" ui-sref='stockItems'>Alerts: {{alertLength}}</a></div>

  <a class="main-navbar-menu" id="navbar-label" ui-sref='orders'>Orders</a>
  <a class="main-navbar-menu" id="navbar-label"  ui-sref='recipes'>Recipes</a>
  <a class="main-navbar-menu" id="navbar-label"  ui-sref='stockItems'>Stock Items</a>
  <a class="main-navbar-menu" id="navbar-label"  ui-sref='home'>Learn More</a>
  <a class="main-navbar-menu" id="navbar-label"   ui-sref='home'>Home</a>
  <!-- ALERTS -->
</nav>
