<h1 class="recipes-title">Recipes</h1>
<div class="searchbar-wrap">
  <input type="text" class="searchbar" ng-model="searchFilter" placeholder="Search Items By...">
  <select ng-model="selectedSearchTerm">
    <option value="name">Name</option>
    <option value="category">Category</option>
  </select>
</div>

<headerdir></headerdir>


<section class="recipe-main">
  <!-- Create New Recipe -->
  <div class="recipeitem-create" ng-model="newRecipe">

    <!-- Add Ingredients -->
    <div class="add-ingedients-input">
      <h1 class="create-title">Create a Recipe:</h1>
      <p id="ingedients-title">Ingredients</p>
      <div class="ingedients-list">
        <ul ng-repeat="ingredient in ingredients">
          <li>{{ingredient.quantity}} {{ingredient.unitOfMeasure}} {{ingredient.name}}</li>
        </ul>
      </div>

      Stock Item: <select class="recipeitem-input"
        ng-options="stockItem.name for stockItem in stockItems track by stockItem._id"
        ng-model="newIngredient.item">
      </select>
      <br>
      Measurement: <select class="recipeitem-input"
        ng-model="newIngredient.unitOfMeasure">
          <option value="ml">ml</option>
          <option value="l">l</option>
          <option value="tsp">tsp</option>
          <option value="tbsp">tbsp</option>
          <option value="floz">floz</option>
          <option value="cup">cup</option>
          <option value="pnt">pnt</option>
          <option value="qt">qt</option>
          <option value="gal">gal</option>
          <option value="qty">qty</option>
      </select>
      Qty: <input class="recipeitem-input" ng-model="newIngredient.quantity" placeholder="e.g. 1/2" type="text"/>
      <form ng-submit="addToIngredients(newIngredient)">

        <br>
        <button class="add-ingedients-btn" type='submit'>Add Ingredients</button>
      </form>
    </div>

    <input class="recipeitem-input" type="text" placeholder="Name" ng-model="newRecipe.name">
    <textarea class="recipeitem-input" placeholder="Description" ng-model="newRecipe.description" cols="30" rows="2"></textarea>
    <input class="recipeitem-input" type="text" placeholder="Category e.g. 'breakfast', 'mexican', 'italian'" ng-model="newRecipe.category">
    <textarea class="recipeitem-input" placeholder="Instructions" ng-model="newRecipe.instructions" cols="30" rows="5"></textarea>
    <input class="recipeitem-input" type="number" placeholder="Price" ng-model="newRecipe.price">
    <input class="recipeitem-input" type="text" placeholder="Paste image url" ng-model="newRecipe.image">
    <div class="submit-wrap">
      <button class="stockitem-submit" ng-click="saveRecipe(newRecipe)">Save Recipe</button>
    </div>
  </div>
  <br>
  <!-- ******************************************************************** -->
  <!-- List Recipes -->
  <!--- wrapper for the individual boxes, setup to display in grid format --------------------------------------------------->
<div class="recipeitem-wrap">
<div ng-repeat="recipe in recipes | filter: search" class="flip-container"  id="flip-container-size" ontouchstart="this.classList.toggle('hover');">
  <div class="flipper">
    <div class="front"  id="flip-container-size"  ng-style="{'background-image':'url({{recipe.image}})', 'background-size': 'cover', 'background-repeat': 'no-repeat', 'background-position': 'center'}">
         <!-- front content -->
    </div>
    <div class="back"  id="flip-container-size" ng-style="{'background-color': '#525157'}">
         <!-- back content -->
         <p class="recipe-name">{{recipe.name}}</p>
         <br>
         <br>
         <button class="recipeitem-edit" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal" ng-click="getSingleRecipe(recipe)">Edit</button>
    </div>
    </div>
</div>
</div>
  <!-- MODAL FORM -->
          <div class="modal-container">
              <div class="modal fade" id="myModal" role="dialog">
                  <div class="modal-dialog">
                      <div class="modal-content">
                          <div class="modal-header">
                              <button type="button" class="close" data-dismiss="modal">&times;</button>
                              <h4 class="stock-modal-title">{{singleRecipe.name}}</h4>
                          </div>
                            <div class="stock-modal-body">
                              <div class="recipe-input-wrap">
                                <div class="recipe-modal-label">Name</div><input class="recipe-modal-input-box" id="modal-small" type="text" ng-model="singleRecipe.name" required>
                              </div>


                              <div class="recipe-input-wrap">
                                <div class="recipe-modal-label">Image url</div>
                                <input class="recipe-modal-input-box" id="modal-small" type="text" ng-model="singleRecipe.image" required>
                              </div>

                              <div class="recipe-input-wrap">
                                <div class="recipe-modal-label">Description</div><textarea class="recipe-modal-input-box" id="modal-description" type="text" ng-model="singleRecipe.description" cols="10" rows="6" required></textarea>
                              </div>

                              <div class="recipe-input-wrap">
                                <div class="recipe-modal-label">Category</div>
                                <input class="recipe-modal-input-box" type="text" ng-model="singleRecipe.category" required>
                              </div>

                                <div class="recipe-input-wrap">
                                  <div class="recipe-modal-label">Instructions</div><textarea class="recipe-modal-input-box" id="modal-description" type="text" ng-model="singleRecipe.instructions" cols="10" rows="6" required></textarea>
                                </div>

                                <div class="recipe-input-wrap">
                                  <div class="recipe-modal-label">Price</div><input class="recipe-modal-input-box" id="stock-small" type="money" ng-model="singleRecipe.price">
                                </div>

                                <div class="recipe-input-wrap">

                                </div>
                                <div class="modal-split"></div>
                                <div class="ingredient-title">Ingredients</div>
                                  <div class="ingedients-update-wrap" ng-repeat="ingredient in singleRecipe.ingredients">
                                    <div class="ingedient-label">{{ingredient.name}}</div>
                                    <select ng-model="ingredient.unitOfMeasure">
                                      <option value="ml">ml</option>
                                      <option value="l">l</option>
                                      <option value="tsp">tsp</option>
                                      <option value="tbsp">tbsp</option>
                                      <option value="floz">floz</option>
                                      <option value="cup">cup</option>
                                      <option value="pnt">pnt</option>
                                      <option value="qt">qt</option>
                                      <option value="gal">gal</option>
                                      <option value="qty">qty</option>
                                    </select>
                                    <div class="sup" style="margin-left : 15px; margin-right : 5px">Quantity</div><input ng-model="ingredient.quantity">
                                    <button ng-click="removeIngredient(ingredient.id, singleRecipe)" type="button">Remove item</button>
                                    <br>
                                  </div>
                              </div>
                              <!-- add new ingredient to existing recipe -->
                              <h3 class="add-ingedient-title">Add Another Ingredient</h3>
                              <div class="ingedient-add-wrap">

                                Ingredient<select
                                  ng-options="stockItem.name for stockItem in stockItems track by stockItem._id"
                                  ng-model="addIngredient.item">
                                </select>
                                Measurement<select
                                  ng-model="addIngredient.unitOfMeasure">
                                    <option value="ml">ml</option>
                                    <option value="l">l</option>
                                    <option value="tsp">tsp</option>
                                    <option value="tbsp">tbsp</option>
                                    <option value="floz">floz</option>
                                    <option value="cup">cup</option>
                                    <option value="pnt">pnt</option>
                                    <option value="qt">qt</option>
                                    <option value="gal">gal</option>
                                    <option value="qty">qty</option>
                                </select>
                                Qty<input class="recipe-input" ng-model="addIngredient.quantity" id="recipe-quantity-input" placeholder="e.g. 1/2" type="text">

                                <button ng-click="addToExisting(singleRecipe, addIngredient)" type='submit'>Add to ingredients</button>
                              </div>


  <!-- delete and update buttons -->
                          <div class="modal-footer">
                            <button ng-click="updateRecipe(singleRecipe._id, singleRecipe)" type="button" class="btn btn-default" id="modal-submit" data-dismiss="modal">Update</button>
                            <button ng-click="destroyRecipes(singleRecipe._id)" type="button" class="btn btn-default" id="modal-submit" data-dismiss="modal">Delete</button>
                          </div>
                      </div>
                  </div>
              </div>
          </div>

</section>
